In [18]:
%matplotlib widget
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [19]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [37]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect, create_engine, func

In [21]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [22]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [23]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [24]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [25]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [26]:
# Find the most recent date in the data set.
date_new = session.query(func.max(Measurement.date)).scalar()
print(f'The most recent date is: {date_new}')

The most recent date is: 2017-08-23

In [27]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
date_last_year = dt.datetime.strptime(date_new, '%Y-%m-%d') - dt.timedelta(days = 365)
date_last_year = date_last_year.strftime('%Y-%m-%d')
print(f'One year from last year is: {date_last_year}')
# Perform a query to retrieve the date and precipitation scores

lastyear_prec = session.query(Measurement.date, Measurement.prcp).\
            filter(Measurement.date >= '2016-08-23').all()
lastyear_prec
# Save the query results as a Pandas DataFrame and set the index to the date column
prec_lastyear_df = pd.DataFrame(lastyear_prec)
prec_lastyear_df = prec_lastyear_df.set_index('date')
prec_lastyear_df.head(15)

# Sort the dataframe by date
s_prec_lastyear_df= prec_lastyear_df.sort_values(by=['date'])
s_prec_lastyear_df.head(15)

One year from last year is: 2016-08-23

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
2016-08-23  0.70
2016-08-23  0.02
2016-08-24  0.08
2016-08-24  2.15
2016-08-24  2.28
2016-08-24   NaN
2016-08-24  1.45
2016-08-24  1.22
2016-08-24  2.15
2016-08-25  0.08

In [34]:
# Use Pandas Plotting with Matplotlib to plot the data
plt.figure(figsize=(12, 8))
plt.plot(s_prec_lastyear_df.index, s_prec_lastyear_df['prcp'])
plt.xlabel('Date', fontsize=15)
plt.ylabel("Precipitation (inches)",fontsize=15)
plt.title("Precipitation in Hawaii from August 23rd 2016 to August 23rd 2017")
xloc = ['2016-08-23','2016-11-09', '2017-01-28', '2017-04-18','2017-07-10'] 
plt.xticks(xloc, rotation=45,fontsize=8)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

([<matplotlib.axis.XTick at 0x1f73742a940>,
  <matplotlib.axis.XTick at 0x1f73742a580>,
  <matplotlib.axis.XTick at 0x1f737446af0>,
  <matplotlib.axis.XTick at 0x1f73744fac0>,
  <matplotlib.axis.XTick at 0x1f73744da30>],
 [Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, '')])

In [29]:
# Use Pandas to calcualte the summary statistics for the precipitation data
s_prec_lastyear_df.describe()

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [38]:
inspector = inspect(engine)

In [45]:
# Design a query to calculate the total number stations in the dataset
stations_count = inspector.get_columns('station')
num_stations = session.query(Station.id).count()
print(f'The number of stations in the dataset is: {num_stations}')

The number of stations in the dataset is: 9

In [55]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.
active_stations = session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()
active_stations

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [63]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
#The most active station id is 'USC00519281'
station_id_active = active_stations[0][0]
station_info = session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), 
                             func.avg(Measurement.tobs)).filter(Measurement.station == station_id_active).all()
station_info

[(54.0, 85.0, 71.66378066378067)]

In [68]:
temp_obs_df

           date  tobs
0    2016-08-24  77.0
1    2016-08-25  80.0
2    2016-08-26  80.0
3    2016-08-27  75.0
4    2016-08-28  73.0
..          ...   ...
346  2017-08-14  77.0
347  2017-08-15  77.0
348  2017-08-16  76.0
349  2017-08-17  76.0
350  2017-08-18  79.0

[351 rows x 2 columns]

In [76]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
temp_obs = session.query(Measurement.date, Measurement.tobs).\
                        filter(Measurement.date >= "2016-08-24").\
                        filter(Measurement.date <= "2017-08-23").\
                        filter(Measurement.station == station_id_active).all()

temp_obs_df = pd.DataFrame(temp_obs)
temp_obs_df

plt.figure(figsize=(12, 8))
plt.hist(temp_obs_df['tobs'], bins = 12)
plt.title(f"Last 12 months Temperature Observation for Station {station_id_active}", fontsize = 20)
plt.xlabel('Temperature')
plt.ylabel('Count')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0, 0.5, 'Count')

# Close session

In [ ]:
# Close Session
session.close()